<div class="row card-simulation">
  <div class="col s6 offset-s3">
    <div class="card">
      <div class="card-content">
        <div class="title">Simula tu cuota</div>
        <br />
        <app-preloader
          [loading]="loadingCampaign$ | async"
          [failed]="failedCampaign$ | async"
        ></app-preloader>
        <ng-container *ngIf="campaign">
          <app-result-simulator
            [campaign]="campaign"
            [monthlyAmount]="monthlyAmount"
          ></app-result-simulator>
          <app-preloader
            [loading]="loadingSimulator$ | async"
            [failed]="failedSimulator$ | async"
          ></app-preloader>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <span class="mount">Ingrese un monto</span>
                  <span
                    class="helper-text"
                    id="text-error"
                    *ngIf="errormessageamount && amount"
                    >{{ errormessageamount }}</span
                  >
                  <span class="currency-symbol">S/ </span>
                  <input
                    #amountInput
                    [(ngModel)]="amount"
                    (change)="getSimulation()"
                    (keyup)="onKeyAmount()"
                    type="text"
                    twoDigitDecimaNumber
                    name="amount"
                    class="amount-input"
                  />
                  <span class="helper-text"
                    >Mínimo {{ _currencyFormat(campaign.min_amount) }} - Máximo
                    {{ _currencyFormat(campaign.max_amount) }}</span
                  >
                </div>
                <div class="input-field col s12">
                  <span class="mount">Elige el numero de cuotas</span>
                  <br />
                  <br />
                  <p class="range-field">
                    <input
                      [(ngModel)]="quota"
                      name="quota"
                      (change)="getSimulation()"
                      type="range"
                      class="slide"
                      min="{{ campaign.min_quota }}"
                      max="{{ campaign.max_quota }}"
                    />
                  </p>
                  <div class="row">
                    <div class="col s9">
                      <span
                        *ngIf="quota"
                        class="helper-text-ncuotas"
                        data-success="right"
                        >{{ quota }} cuotas</span
                      >
                    </div>
                    <div class="col s3">
                      <span class="helper-text maxquotarange"
                        >Máximo: {{ campaign.max_quota }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
