<div *ngIf="loading">
  <div class="preloader-wrapper active">
    <div class="spinner-layer spinner-red-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <br />
  Cargando...
</div>
<div *ngIf="failed">
  <span class="error">
    <i class="material-icons">warning</i> {{ failed }}
  </span>
</div>
